.uploadForm {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.inputsContainer {
  display: flex; /* 將輸入框和按鈕設置為水平排列 */
  align-items: stretch; /* 使所有元素等高 */
  gap: 1rem; /* 設置間距 */
}

.fileInputWrapper {
  position: relative;
  flex: 0 1 auto;
}

.uploadInput {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.uploadButton svg {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.titleInput,
.descriptionInput {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.titleInput {
  min-height: 38px;
}

.descriptionInput {
  min-height: 38px;
  resize: none;
}

.submitButton {
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: stretch;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
